[Unit]
Description=Calculator Service
After=network.target

[Service]
ExecStart=/usr/bin/calculator
Restart=always

[Install]
WantedBy=multi-user.target